main{
    overflow: hidden;
    background-image: linear-gradient(#051327, #000);
}


:root {
    --background-color: rgb(15, 15, 15);
    --text-color: hsl(0, 0%, 100%);
  }
  body {
    margin: 0;
  }
  .sliced {
    display: grid;
    place-content: center;
    min-height: 90vh;
    font-family: "Oswald", sans-serif;
    font-size: clamp(1rem, 1rem + 18vw, 15rem);
    font-weight: 700;
    text-transform: uppercase;
    color: var(--text-color);
  }
  
  .sliced > div {
    grid-area: 1/1/-1/-1;
  }
  .top {
    clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
  }
  .bottom {
    clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
    color: transparent;
    background: -webkit-linear-gradient(177deg, black 53%, var(--text-color) 65%);
    background: linear-gradient(177deg, black 53%, var(--text-color) 65%);
    background-clip: text;
    -webkit-background-clip: text;
    transform: translateX(-0.02em);
  }

  #categorias{
    padding-top: 50px;
  }

  #categorias p{
    color: white;
  }

  .cat-libro-item{
    height: 400px;
    color: #70e4e1;
  }

  .cat-item-txt-descripcion::-webkit-scrollbar {
    display: none;
  }

  .cat-item-txt-container, .cat-item-img-container{
    box-sizing: border-box;
  }

  .cat-item-img{
    width: 100%;
  }

  .cat-item-txt-descripcion{
    max-height: 150px;
    overflow-y: auto;
  }

  @media screen and (max-width: 992px) {
    .cat-libro-item{
        height: max-content;
    }
    .cat-item-img{
        width: 30%;
        min-width: 100px;
    }
  }

  .space-1, .space-2, .space-3{
    width: var(--size);
    height: var(--size);
    background: #fff;
    box-shadow: var(--space-layer);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 75%;
    animation: moveStars var(--duration) linear infinite;
  }
  
  @keyframes moveStars{
    from{
      transform: translateY(0);
    }
  
    to{
      transform: translateY(-100vh);
    }
  }