body{
    height: 100%;
    overflow: visible;
    background-color: rgb(15, 15, 15) !important;
}

main{
  background-image: linear-gradient(#051327, #000);
}

.space-1, .space-2, .space-3{
  width: var(--size);
  height: var(--size);
  background: #fff;
  box-shadow: var(--space-layer);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 75%;
  animation: moveStars var(--duration) linear infinite;
}

@keyframes moveStars{
  from{
    transform: translateY(0);
  }

  to{
    transform: translateY(-100vh);
  }
}

header{
    background-color: rgb(15, 15, 15);
}

#menu{
    background-color: rgba(44, 44, 44, 0.836);
    color: white;
}

#banner {
    color: whitesmoke;
    background-image: url("IMG/HOME/banner-img.jpg");
    background-size: cover;
    background-position: center;
    animation: opacidad linear both reverse;
    animation-timeline: view(0% 90%);
}

#banner-text{
    padding:16rem 5rem;
    background-color: rgba(0, 0, 0, 0.658);
    height: 100%;
    transition: 0.3s all ease-in-out;
    clip-path: polygon(75.5% 0%, 84.6% 0%, 59% 100.3%, 0% 100.3%, 0% 0%);
}

#banner h1{
    color: #33c48c;
}

#btn-visitar, #btn-hero {
    margin-top: 30px;
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: hsl(150, 80%, 48%);
    box-shadow: rgba(238, 238, 238, 0.836) 0 0 8px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
    color: white;
    font-weight: 600;
  }
  
  #btn-visitar:hover, #btn-hero:hover {
    background-color: white;
    color: hsl(0, 0%, 9%);
    box-shadow: rgb(24, 220, 129) 0px 7px 29px 0px;
  }
  
  #btn-visitar:active, #btn-hero:active {
    background-color: hsl(157, 80%, 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(231, 231, 231) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
  }
  


  /* CARDS */
  #cards-section h1{
    color: #33c48c;
    animation: aparecer linear both;
    animation-timeline: view(10% 60%);
    animation-range: 0 200px;
  }

  .card {
    height: 275px;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.6rem 1rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s ease-out;
    overflow: visible;
    animation: aparecer linear both;
    animation-timeline: view(10% 20%);
    animation-range: 0 100px;
   }

   .card-image{
    transition: 0.3s all ease-in-out;
    animation: aparecer linear both;
    animation-timeline: view(10% 50%);
    animation-range: 0 200px;
   }
   
   .card-div:hover .card-image{
    transform: translateY(-10px);
    filter: brightness(1.1);
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.3));
   }

   .card-details {
    color: black;
    height: 100%;
    gap: .5em;
    display: grid;
   }
   
   .card-button {
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
   }
   
   .text-body {
    color: rgb(134, 134, 134);
    margin: 0;
    font-weight: 500;
    line-height: 2;
    letter-spacing: 0.2px;
   }
   
   .text-title {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0px;
    color: #13aa70;
   }

   .text-body i{
    color: #13aa70;
   }
   
   .card:hover {
    border-color: #086340;
    box-shadow: 1px 4px 18px 1px rgba(161, 161, 161, 0.25);
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
   }

   .card:hover .text-title, .card:hover .text-body i{
    color: #4ece9d;
   }

   .card:hover .text-body span{
    color: white;
   }
   
   .card:hover .card-button {
    transform: translate(-50%, 50%);
    opacity: 1;
   }

   /* HERO */
   
   .hero{
    color: white;
    margin: 250px auto;
   }

   .hero-title{
    color: #33c48c !important;
    animation: aparecer linear both, aparecer linear;
    animation-timeline: view(100% 20%);
    animation-range: 0 300px;
   }

   .hero-title2{
    animation: aparecer linear both;
    animation-timeline: view(10% 50%);
    animation-range: 0 200px;
   }

   .hero img{
    animation: opacidad linear both;
    animation-timeline: view(30% 35%);
    animation-range: 0 400px;
   }

   .hero-text{
    animation: aparecer linear both;
    animation-timeline: view(15% 20%);
    animation-range: 0 350px;
   }

   .hero-text2{
    animation: aparecer linear both;
    animation-timeline: view(15% 40%);
    animation-range: 0 350px;
   }

   /* SLIDE */

   #main-slide-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    animation: aparecer linear both;
    animation-timeline: view(10% 30%);
    animation-range: 0 400px;
  }
  
  
  #slide-1{
    background-image: linear-gradient(125deg, rgba(58,58,58,0.6783088235294117) 0%, rgba(75,75,75,0.3914740896358543) 50%, rgba(194,194,194,0.0102415966386555) 100%), url("/IMG/HOME/slide-img-2.jpg");
  }
  
  #slide-2{
    background-image: linear-gradient(125deg, rgba(58,58,58,0.6783088235294117) 0%, rgba(75,75,75,0.3914740896358543) 50%, rgba(194,194,194,0.0102415966386555) 100%), url("/IMG/HOME/slide-img-1.jpg");
  }
  
  #slide-3{
    background-image: linear-gradient(125deg, rgba(58,58,58,0.6783088235294117) 0%, rgba(75,75,75,0.3914740896358543) 50%, rgba(194,194,194,0.0102415966386555) 100%), url("/IMG/HOME/slide-img-3.jpg");
  }
  
  #slide-4{
    background-image: linear-gradient(125deg, rgba(58,58,58,0.6783088235294117) 0%, rgba(75,75,75,0.3914740896358543) 50%, rgba(194,194,194,0.0102415966386555) 100%), url("/IMG/HOME/slide-img-4.jpg");
  }
  
  .c {
    width: 100%;
    height: auto;
    min-height: 600px;
    padding: 20px;
    padding-bottom: 40px;
    box-shadow: 0 8px 48px 2px hsla(10 6% 15% / .4);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background: hsl(0 0% 90%);
    box-sizing: border-box;
  }
  
  .ci {
    position: absolute;
    top: 0;
    left: 0;
  
    width: inherit;
    height: inherit;
    transform-origin: left 50%;
  
    background: inherit;
  
    transition: .3s ease-out;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-blend-mode: multiply;
  }
  
  .ci img {
    -moz-user-select: none;
    user-select: none;
    width: 100%;
    height: 100%;
  }
  
  .slide-1-texto {
    position: absolute;
    top: 30%;
    left: 4%;
    color: white;
    width: 90%;
    max-width: 600px;
  }
  
  .slide-1-texto h2{
    color: #33c48c;
  }
  
  #main-slide-1 input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: -10;
  }
  
  label {
    width: 10%;
    height: 10px;
    margin-right: 4px;
    border-radius: 20px;
  
    background: hsla(0 0% 90% / .3);
    cursor: pointer;
  
    position: relative;
    z-index: 10;
  }
  
  label:last-child {
    margin-right: 0;
  }
  
  input:checked+label {
    background: linear-gradient(to right,
      hsla(var(--hue) 80% 70% / .7),
      hsla(calc(var(--hue) + 30) 80% 50% / .7));
  }
  
  input:not(:checked)+label+.ci {
    transform: translateX(-100%);
    opacity: 0;
  }
  
  input:checked+label+.ci~.ci {
    transform: translateX(100%);
  }
  
  input:not(:checked)+label+.ci {
    transition: 0;
  }

  /* ANIMACIONES */

  
  @keyframes aparecer {
    0%{
      opacity: 0;
      transform: scale(0.5);
    }

    100%{
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes opacidad {
    from{
      opacity: 0;
    }

    to{
      opacity: 1;
    }
  }