body{
    overflow: visible;  
}

main{
    background-color: rgb(15, 15, 15);
    margin-top: 100px;
    height: max-content;
    min-height: 86.5vh;
    place-content: center;
    color: white;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

.top-right-modal {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 300px;
}

#exampleModal{
    color: black;
}

#exampleModal h5{
    color: #13aa70;
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}