body{
    margin:0;
    padding:0;
    font-family:sans-serif;
    overflow:hidden;
    transition: 0.3s all ease-in-out;
    background-color: rgb(15, 15, 15) !important;
  }  

/* HEADER */

  header{
    position: fixed;
    height: 100px;
    background-color: rgb(15, 15, 15);
    z-index: 8;
    width: 100%;
    top: 0;
  }

  header img{
    height: 100px;
  }

  ul{
    list-style: none;
  }

  a{
    text-decoration: none !important;
    color: inherit !important;
  }

  #menu-toggle i{
    color: white;
  }

  .menu-toggle:hover .submenu{
    height: 145px;
    overflow: visible;
    border-radius: 10px !important;
  }

  .submenu{
    margin-bottom: -25px;
    border-radius: 10px !important;
    height: 0px;
    overflow: hidden;
    transition: 0.4s all ease-in-out;
  }

  .submenu li{
    background-color: #fff;
    color: #33c48c;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    border: 2px dashed #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .4s;
  }

  .submenu li:hover {
    transition: .4s;
    border: 2px dashed #fff;
    background-color: #33c48c;
    color: #fff;
   }

  #menu-search .input, #menu-search-2 .input{
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 9999px;
    box-shadow: inset 2px 5px 10px rgb(0, 0, 0);
  }

  /* SEARCH BUTTON */

  .button2 {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 0.6em 1.5em;
    overflow: visible;
   }
   
   .button2:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse 1.5s infinite;
   }
   
   @keyframes pulse {
    0% {
     box-shadow: 0 0 0 0 #0c788b66;
    }
   
    70% {
     box-shadow: 0px 0px 0px 10px rgba(45, 209, 187, 0);
    }
   
    100% {
     box-shadow: 0 0 0 0 rgba(33, 196, 174, 0);
    }
   }
  
   #resultados, #resultados2{
    position: absolute;
    z-index: 2;
    max-height: 300px;
    overflow: auto;
    width: max-content;
    max-width: 600px;
    left: 0;
    right: 0;
    margin: 0 auto;
    margin-top: 10px;
    color: white;
    border-radius: 10px;
    box-shadow:
      0px 0px 1.4px rgba(0, 0, 0, 0.029),
      0px 0px 3px rgba(0, 0, 0, 0.043),
      0px 0px 5.1px rgba(0, 0, 0, 0.054),
      0px 0px 7.6px rgba(0, 0, 0, 0.062),
      0px 0px 11px rgba(0, 0, 0, 0.07),
      0px 0px 15.6px rgba(0, 0, 0, 0.078),
      0px 0px 22.1px rgba(0, 0, 0, 0.086),
      0px 0px 32.1px rgba(0, 0, 0, 0.097),
      0px 0px 49.5px rgba(0, 0, 0, 0.111),
      0px 0px 88px rgba(0, 0, 0, 0.14)
    ;
  }
   #resultados div, #resultados2 div{
    padding: 10px 20px;
    text-align: center;
    background-color: #33c48c;
    cursor: pointer;
   }

   #resultados div:hover, #resultados2 div:hover{
    background-color: white;
    color: rgb(43, 43, 43);
   }

  #menu{
    position: fixed;
    height: 100vh;
    z-index: 9;
    background-color: rgba(44, 44, 44, 0.836);
    width: 0px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    top: 0;
    color: white;
  }

  #menu h1{
    padding-top: 30px;
    padding-left: 30px;
  }

  #menu hr{
    margin-top: 0px;
    margin-left: 30px;
    margin-bottom: 40px;
    border: 4px solid #87dbd0;
    width: 0px;
    transition: 0.3s ease-in-out;
  }

  #menu:hover hr{
    width: 120px;
    border: 4px solid #33c48c;
  }

  #close-menu{
    position: absolute;
    right: 5%;
    top: 2%;
    font-size: 20pt;
  }

  #menu-toggle{
    position: absolute;
    right: 5%;
  }

  i{
    cursor: pointer;
  }

  .bttn {
    background-color: #33c48c;
    padding: 14px 5%;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px dashed #33c48c;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .4s;
   }
   
   .bttn span:last-child {
    display: none;
   }
   
   .bttn:hover {
    transition: .4s;
    border: 2px dashed #00BFA6;
    background-color: #fff;
    color: #00BFA6;
   }
   
   .bttn:active {
    background-color: #87dbd0;
   }
   


/* CENTER */
  
  .center{
    position:absolute;
    top:40%;
    left:50%;
    transform:prespective(800px) translate(-50%, -50%);
    transform:skewY(15deg);
    transition:0.5s;
  }
  
  .center:hover{
    transform:prespective(900px) translate(-50%,-50%);
    transform:skewY(0deg);
  }
  
  .center h1 span{
    position:absolute;
    top:0;
    left:0;
    transform:translate(-44%,-50%);
    margin:0;
    padding:0;
    text-transform:uppercase;
    font-size: clamp(4rem, -2.4507rem + 18.0423vw, 20rem);
    color:#33c48c;
    transform-style:preserve-3d;
    transition:0.5s;
  }
  .center h1 span:nth-child(1){
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
  }
  
  
  
  .center h1 span:nth-child(2){
    color:#5E17EB;
    transform:translate(-49.5%,-50%) skewX(-55deg);
    clip-path: polygon(0 45%, 100% 45%, 100% 55%, 0 55%);
  }
  
  .center h1 span:nth-child(3){
    transform:translate(-55%,-50%) skewY(0deg);
    clip-path: polygon(0 55%, 100% 55%, 100% 100%, 0 100%);
  }
  
  .center:hover h1 span:nth-child(2), 
  .center:hover h1 span:nth-child(3){
    transform:translate(-44%,-50%) skewX(0deg);
    left:0;
    color:#33c48c;
    margin-top: -1px;
  }

  .center:hover h1 span:nth-child(3){
    margin-top: -2px;
  }

  .center h1 span:nth-child(4){
    clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
    transform: translate(-49.5%, 30%);
  }
  
  
  
  .center h1 span:nth-child(5){
    color:#5E17EB;
    transform:translate(-52%, 30%) skewX(-55deg);
    clip-path: polygon(0 45%, 100% 45%, 100% 55%, 0 55%);
  }
  
  .center h1 span:nth-child(6){
    transform:translate(-54.5%, 30%) skewY(0deg);
    clip-path: polygon(0 55%, 100% 55%, 100% 100%, 0 100%);

  }
  
  .center:hover h1 span:nth-child(5), 
  .center:hover h1 span:nth-child(6){
    transform:translate(-49.5%, 30%) skewX(0deg);
    left:0;
    color:#33c48c;
    margin-top: -1px;
  }
  .center:hover h1 span:nth-child(6){
    margin-top: -2px;
  }

  #menu-search-2{
    display: none;
   }

   /* FOOTER */
#footer{
  height: auto;
  background-color: rgb(15, 15, 15);
  padding: 40px;
  color: white;
}

#newsletter, #help, #RRSS{
  margin-top: 20px;
}

#footer form{
  border-radius: 10px;
}

#footer input, #footer button{
  padding: 10px;
  border: none;
}

#newsletter{
  height: 100%;
}

#newsletter-info{
  height: 50%;
}

#newsletter img{
  width: 100%;
  max-height: 350px;
}

#footer input {
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
}

#footer input:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 3px 3px 10px #969696,
             -3px -3px 10px #ffffff;
}

#footer h4{
  color: #33c48c;
}

.custom-btn {
  width: 130px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
 }
 
 .btn-1 {
  background: rgb(96,9,240);
  background: linear-gradient(0deg, rgba(96,9,240,1) 0%, rgba(129,5,240,1) 100%);
  border: none;
 }
 
 .btn-1:before {
  height: 0%;
  width: 2px;
 }
 
 .btn-1:hover {
  box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
               -4px -4px 6px 0 rgba(116, 125, 136, .5), 
     inset -4px -4px 6px 0 rgba(255,255,255,.2),
     inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
 }

 #footer hr{
  width: 50%;
  transition: width 0.2s ease-in-out;
  border: 2px solid #4ce3f7;
 }

 #help-info p:hover, #rrss-info p:hover{
  transform: translate(10px);
  transition: 0.2s ease-in-out;
  cursor: pointer;
 }

 #help-info:hover hr, #rrss-info:hover hr{
  width: 100%;
 }

 #rrss-info i{
  font-size: 18pt;
  margin-right: 10px;
 }

 #rrss-info p:hover i{
  color: #33c48c;
 }

  /* MEDIA QUERYS */

   @media screen and (max-width: 550px) {
        #menu-search-2{
            display: block;
        }

        #menu-search{
          display: none;
        }
   }

  @media screen and (max-width: 550px){
    #menu{
      max-width: 100%;
    }
  }

  @media screen and (min-width: 551px) and (max-width: 1199px){
    #menu{
      max-width: 50%;
    }
  }

  @media screen and (min-width: 1200px){
    #menu{
      max-width: 600px;
    }
  }